
body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.settings-container {
    display: flex;
    font-size: 14px;
}

.settings-group {
    display: flex;
    border: 1px solid;
    margin-right: 16px;
    border-radius: 8px;
}
    
.setting {
    margin: 0 16px;
    cursor: pointer;
    opacity: 0.7;
}

.setting:hover, .setting.selected {
   opacity: 1; 
}



.controls {
    padding: 24px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.icon {
    position: relative;
    top: 5px;
    margin-right: 5px;
    color: #222222;
}

.control-group {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    padding: 8px 24px;
    margin-bottom: 16px;
}

.camera-group {
    background-color: #fff4c8;
}

.objects-group {
    background-color: #d0ffc8;
}

.simulation-group {
    background-color: #c7d88e;
}

.control-group h3 {
    text-align: center;
}

.action-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 8px 0;
}

.camera-action {
    flex: 2 0 150px;
}

.camera-control {
    color: #303030;
    white-space: nowrap;
    flex: 1 0 100px;
}

.parameters-columns {
    display: flex;
    flex-direction: row;
}

.parameters-details
{
    margin-top: 24px;
}

#parameters-container {
    display: flex;
    flex-direction: column;
}

.parameters-group {
    display: flex;
}

.parameter-chunk {
    flex: 1 0 auto;
    max-width: 180px;
}

.json-parameters-container {
    margin-left: 24px;
}

.textarea-container {
    display: flex;
    align-items: center;
}

#json-parameters {
    width: 512px;
    height: 256px;
    margin-left: 16px;
}

.key {
    border: 1px black solid;
    width: 1.3em;
    display: inline-block;
    height: 1.3em;
    line-height: 1.3em;
}

.rotate90deg {
    transform: rotate(90deg);
}

.flex-break-after {
    width: 100%;
}

.hidden {
    display: none;
}
